CONFIG_TARGET_ipq60xx=y
CONFIG_TARGET_ipq60xx_generic=y
CONFIG_TARGET_ipq60xx_generic_DEVICE_qihoo_v6=y
CONFIG_TARGET_BOARD="ipq60xx"
CONFIG_TARGET_SUBTARGET="generic"
CONFIG_TARGET_PROFILE="DEVICE_qihoo_v6"
CONFIG_TARGET_ARCH_PACKAGES="aarch64_cortex-a53"
CONFIG_DEFAULT_TARGET_OPTIMIZATION="-Os -pipe -mcpu=cortex-a53"
CONFIG_CPU_TYPE="cortex-a53"
CONFIG_DEFAULT_ath11k-firmware-ipq6018=y
CONFIG_DEFAULT_ath11k-wifi-qihoo-v6=y
CONFIG_DEFAULT_kmod-ath11k-ahb=y
CONFIG_DEFAULT_kmod-gpio-button-hotplug=y
CONFIG_DEFAULT_kmod-leds-gpio=y
CONFIG_DEFAULT_kmod-qca-nss-dp=y
CONFIG_DEFAULT_kmod-qca-nss-drv=y
CONFIG_DEFAULT_kmod-qca-nss-drv-pppoe=y
CONFIG_DEFAULT_kmod-qca-nss-ecm=y
CONFIG_DEFAULT_kmod-qca-ssdk=y



